button {
  position: relative;
  padding: 20px;
  padding-right: 50px;
  display: block;
  border-radius: 5px;
  background: linear-gradient(90deg, #7E55B3 -0.37%, #A769C4 100.37%);
  color: #ffffff;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;

  img {
    position: absolute;
    height: 20px;
    width: 20px;
    margin-left: 10px;
  }

  &:disabled,
  &:disabled:hover {
    background: linear-gradient(90deg, #808080 -0.37%, #656565 100.37%);
    cursor: not-allowed;
  }

  &:hover {
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      linear-gradient(90deg, #7E55B3 -0.37%, #A769C4 100.37%);
    cursor: pointer;
  }
}
