.container {
  margin-top: 20px;
}

.quiz-description {
  color: #fff;
  line-height: 24px;
}

.answer-list {
  margin-top: 30px;
  margin-bottom: 0;
  padding: 0;
}

.player-container {
  height: 114px;
  background-color: #373B62;
  border: 1px solid #373B62;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.control-block {
  position: relative;
  width: 114px;
  height: 114px;
  background: linear-gradient(148.42deg, #EC1919 -0.53%, #D1C234 28.02%, #D134A5 60.47%, #3734D1 90.32%, #23B632 124.06%);
  border-radius: 5px;
  margin-right: 20px;
}

.correct-image {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 114px;
}

@media screen and (max-width: 680px) {
  .control-block {
    margin-right: 5px;
  }
}
