.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width:1680px;
  padding-top: 40px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
  margin-bottom: 29px;
}

.user-info {
  display: flex;
}

.user-name {
  margin-right: 30px;
}

.song-image {
  width: calc(100% - 2px);
  height: 374px;
  object-fit: cover;
  object-position: 50% 20%;
  border: 1px solid #373B62;
  border-radius: 10px 10px 0px 0px;
}

.song-info {
  font-size: 20px;
  margin-bottom: 20px;
}

.player-container {
  height: 47px;
  background-color: #373B62;
  border: 1px solid #373B62;
  border-radius:  0px 0px 10px 10px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  margin-top: -4px;
  margin-bottom: 30px;
}

.button-container {
  position: relative;
  left: -40px;
  top: -50px;
}

.progress-bar {
  width: 90%;
}

.description {
  color: rgba(255, 255, 255, .7);
  text-align: center;
  line-height: 150%;
}

main {
  position: relative;
  min-height: 576px;
  width: 100%;
  background-color: #1B1D31;
  z-index: 10;
}

footer {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.grid-container {
  max-width: 1680px;
  display: grid;
  margin: 0 60px 60px;
  grid-column-gap: 60px;
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr 1.6fr;
  }
}

@media screen and (max-width: 1200px) {
  .union-image {
    display: none;
  }
}
