<div class="container">
  <header>
    <app-logo></app-logo>
    <div class="user-info">
      <div class="user-name">{{ playerName }}</div>
      <div class="user-score">Your score: {{ totalScores }}</div>
    </div>
  </header>
  <main>
    <app-progress-bar></app-progress-bar>
    <div class="grid-container">
      <app-quiz-questions></app-quiz-questions>
      <!-- <div class="cell cell-1"></div> -->
      <app-quiz-image class="cell-2"></app-quiz-image>
      <app-quiz-info class="cell-1"></app-quiz-info>
      <!-- <div class="cell cell-2">2.</div> -->
    </div>

  </main>
  <footer>
    <app-button [name]="'next question'"></app-button>
  </footer>
</div>


