.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width:1680px;
  padding-top: 40px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
  margin-bottom: 29px;
}

.user-info {
  display: flex;
}

.user-name {
  margin-right: 30px;
}


main {
  position: relative;
  min-height: 576px;
  width: 100%;
  background-color: #1B1D31;
  z-index: 10;
}


footer {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 10px;
}

.grid-container {
  // margin: 60px;
  // height: 100%;

  display: grid;
  grid-template-columns: 1fr 1.2fr  ;
  grid-column-gap: 60px;
}

// .cell {
//   height: 500px;
//   color: white;
//   font-size: 3rem;
//   text-align: center;
// }
// .cell-1 {
//   background: deepskyblue;
// }
// .cell-2 {
//   background: orangered;
// }




@media screen and (max-width: 1400px) {
  .grid-container {
    grid-template-columns: 1.2fr 1fr;
  }

  // .cell-2 {
  //   display: none;
  // }

}

@media screen and (max-width: 1200px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .cell-2 {
    display: none;
  }

}
