<div class="container">
  <header>
    <app-logo></app-logo>
    <div class="user-info">
      <div class="user-name">{{ playerName }}</div>
      <div class="user-score">Your score: {{ totalScores }}</div>
    </div>
  </header>
  <main>
    <app-progress-bar></app-progress-bar>
    <div class="grid-container">
      <app-quiz-questions></app-quiz-questions>
      <app-quiz-image class="union-image" *ngIf="!clicked"></app-quiz-image>
      <app-quiz-info *ngIf="clicked">
        <h2 class="song-info">
          {{ '0' + id }}: {{ song.name }} - {{ song.songTitle }}
        </h2>
        <img class="song-image" src="{{ imageUrl }}" alt="">
        <div class="player-container">
          <div class="button-container">
            <app-player-button></app-player-button>
          </div>
          <div class="progress-bar">
            <app-progress></app-progress>
          </div>
        </div>
        <div class="description">
          <p>{{ song.description }}</p>
        </div>
      </app-quiz-info>
    </div>
  </main>
  <footer>
    <app-button
      [name]="'next question'"
      [disabled]="!correctAnswer"
      (click)="nextRound()"
      ></app-button>
  </footer>
</div>
