.control-btn {
  position: absolute;
  top: 20%;
  left: 6%;
  transform: translate(50%, 50%);
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .7);

  .play-btn {
    width: 10px;
    height: 14px;
    transform: translate(20%, 10%);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
}

@media (max-width: 1200px) {
  .control-btn {
    top: 20%;
    left: 3%;
  }
}
