<div class="progress">
  <div class="scroll-line"></div>
  <div class="progress-list">
    <div class="progress-genre">R&B</div>
    <div class="progress-icon"><img src="../../assets/arrow.svg" alt=""></div>
    <div class="progress-genre">JAZZ</div>
    <div class="progress-icon"><img src="../../assets/arrow.svg" alt=""></div>
    <div class="progress-genre">TECHNO</div>
    <div class="progress-icon"><img src="../../assets/arrow.svg" alt=""></div>
    <div class="progress-genre">SOUL</div>
  </div>
</div>
