.answer-card {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  list-style: none;
  border: 1px solid #373B62;
  border-radius: 5px;
  min-height: 30px;
  padding: 20px;
  transition: ease-in-out .2s;

  &:hover {
    background-color: #373B62;
    border: 1px solid #ffffff;
  }
}

.song-info {
  display: flex;
  color: #ffffff;
  line-height: 150%;
}

.round {
  position: relative;
  margin-right: 30px;
}

.checkbox-label {
  background-color: #fff;
}

.round label {
  transform: translate(0%, -15%);
  border: 1px solid #ccc;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 30px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}
