:host {
  width: 100%;
}

.container {
  margin-top: 30px;
  height: 600px;
}

.song-info {
  font-size: 20px;
  margin-bottom: 20px;
}


img {
  width: calc(100% - 2px);
  height: 374px;
  object-fit: cover;
  border: 1px solid #373B62;
  border-radius: 10px 10px 0px 0px;
}

.player-container {
  height: 47px;
  background-color: #373B62;
  border: 1px solid #373B62;
  border-radius:  0px 0px 10px 10px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  position: relative;
  align-items: center;
  margin-top: -4px;
  margin-bottom: 30px;
}

.button-container {
  position: relative;
  left: -40px;
  top: -50px;
}

.progress-bar {
  width: 90%;
}

.description {
  color: rgba(255, 255, 255, .7);
  text-align: center;
  line-height: 150%;
}

