:host {
  width: 70%;

  @media screen and (max-width: 1200px) {
    width: 85%;
  }
}

.player-body {
  margin: 0 auto;
}

.duration-block {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, .7);
  font-size: 12px;
  font-weight: 400;
}

#current-time {
  width: 100%;
  height: 5px;
  -webkit-appearance: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 5px;
}

#current-time::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
