<div class="player-body">
  <input
  (change)="onChange(range.value)"
  [ngStyle]="{background: drawProgressTrack()}"
  #range
  type="range"
  id="current-time"
  step="1" min="0" max="{{maxRange}}" value="{{ rangeValue }}">

  <div class="duration-block">
    <div class="current-duration">{{ currentTime }}</div>
    <div class="total-duration">{{ trackDuration }}</div>
  </div>
</div>
<!-- <div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div>

<h2>{{hero.name | uppercase}} Details</h2> -->
