.background {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 1);
  display: block;
}

.background::after {
  content: '.';
  font-size: 52px;
  display: block;
  width: 933px;
  height: 962px;
  position: fixed;
  right: -300px;
  top: -143px;
  background: radial-gradient(farthest-side,rgba(242, 245, 75, .5), transparent) center no-repeat;
  animation:pulse 3s linear infinite alternate;
}

.background::before {
  content: '.';
  font-size: 52px;
  display: block;
  width: 933px;
  height: 962px;
  position: fixed;
  left: 285px;
  bottom: -400px;
  background: radial-gradient(farthest-side,rgba(75, 174, 245, .5), transparent) center no-repeat;
  animation:pulse 3s linear infinite alternate;
}

.bg-lights {
  position: absolute;
  width: 933px;
  height: 100%;
  filter: blur(114px);
  animation:pulse 3s linear infinite alternate;
  background: radial-gradient(farthest-side,rgba(245, 75, 75, .5), transparent) center no-repeat;
}

.red {
  left: -440px;
  top: -183px;
  background: radial-gradient(farthest-side,rgba(245, 75, 75, .5), transparent) center no-repeat;
}

@keyframes pulse{
  from {
    background-size:55% 55%;
  }
  50% {
    background-size:58% 58%;
    }
  70% {
    background-size:58% 58%;
    }
  to {
    background-size:85% 85%;
  }
}

@media screen and (max-width: 640px) {
  .blue {
    position: absolute;
    width: 933px;
    height: 962px;
    left: -150px;
  }
}

.cont {
  width: 300px;
  margin: 0 auto;
  padding-top: 100px;
  z-index: 7000;
  cursor: pointer;
}
