.container {
  max-width:730px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 90px 185px 0;
  background-color: transparent;
  height: 100%;
}

.name-form {
  padding: 90px 185px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(100vh / 10);
  background-color: rgba(27, 29, 49, 1);
  z-index: 10;
  margin-bottom: 150px;

  label {
    margin-top: 10px;
    margin-bottom: 74px;
    color: #FFFFFF;
    line-height: 150%
  }

  input {
    width: 100%;
    text-align: center;
    height: 54px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #373b62;
    outline: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  input:focus::placeholder {
    color: transparent;
  }
}

@media screen and (max-width: 1200px) {
  .container{
    padding: 5px;
  }
}
